<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Records</title>
    <link rel="stylesheet" href="/styles/resource.css">
    <link rel="stylesheet" href="/styles/records.css">
    <script defer src="/scripts/records.js"></script>
</head>
<body>
    <div class="box">
        <% for (let i = records.length - 1; i >= 0; i--) { %>
            <% if ((records.length - 1 - i) % 3 === 0) { %>
                <ul class="dynamic-list">
            <% } %>

            <li class="record-item"
                real-id="<%= records[i].real_id %>"
                data-id="<%= records[i].id %>"
                data-description="<%= records[i].description %>"
                data-created_by="<%= records[i].created_by %>"
                data-origin_site_name="<%= records[i].origin_site_name %>"
                data-destination_site_name="<%= records[i].destination_site_name %>"
                data-created_at="<%= new Date(records[i].created_at).toLocaleString('en-US') %>">

                <span></span>
                <div class="title"><%= records[i].id %></div>
                <div class="info"><%= records[i].description %></div>
                <div class="name"><%= records[i].created_by %></div>
                <div class="name"><%= records[i].destination_site_name %></div>
                <div class="time">
                    <span>
                        <%= new Date(records[i].created_at).toLocaleString('en-US', { month: 'short', day: 'numeric' }) %><sup>th</sup>
                    </span>
                    <span><%= new Date(records[i].created_at).toLocaleTimeString('en-US') %></span>
                </div>
            </li>

            <% if ((records.length - 1 - i) % 3 === 2 || i === 0) { %>
                </ul>
                <div class="arrow" id="btn<%= Math.floor((records.length - 1 - i) / 3) + 1 %>">
                    <!-- SVG code here -->
                </div>
            <% } %>
        <% } %>
    </div>

    <div class="right-side-panel" id="right-side-panel">
        <div class="window-controls">
            <div class="window-control close" onclick="closePanel()">
                <i data-feather="chevrons-left"></i>
            </div>
        </div>
        <br>
        <h1 class="title">Asset Details</h1>
        <div class="status">
            Status:
            <span id="status">In Process</span>
        </div>
        <br>
        <div class="info" id="record-info">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
        <br>
        <h2>
            Transfer Details
        </h2>
        <div class="name">
            Origin: <span id="origin-site">-</span>
        </div>
        <div class="name">
            Destination: <span id="destination-site">-</span>
        </div>
        <div class="name">
            Created by: <span id="created-by">-</span>
        </div>


        <br>
        <h2>
            Comments
        </h2>

        <div class="comment-section">
            <form action="">
                <textarea class="dynamic-textarea" placeholder="Leave a comment.." id="comment-area"></textarea>
            </form>
            <div class="comments">
                <ul>
                    <!-- Dyanmically generated -->
                </ul>
            </div>
        </div>

        <br>
        <h2>
            Tags
        </h2>
        <div class="tags">
            <div class="tag">Laptop</div>
            <div class="tag">Electronics</div>
            <div class="tag">Office</div>
        </div>
    </div>

    <%- include('partials/navbar.ejs') %>
</body>
</html>
